
<div class="container">
<div class="wrapper loginWrapper">

    <div class="loginContainer">
        <div class="loginStatus">

            <span class="boldText loginMessage">{{loginMessage}}</span>
        <!-- TODO MESSAGES -->
        </div>

        <div class="loginFormContainer">

            <form [formGroup]="loginForm" (ngSubmit)="loginformSubmit()">
                <input type="text" formControlName="userName" >
                <input type="password" formControlName="password" >
                <input type="submit" [disabled]="loginForm.invalid" value="Login">


            </form>

        </div>
        
    </div>


</div>
</div>